NET CLK_0 LOC = H12;
NET CLK_1 LOC = H22;
NET LEDS<0> LOC = L20;
NET LEDS<1> LOC = L19;
NET LEDS<2> LOC = K17;
NET LEDS<3> LOC = K18;
NET LEDS<4> LOC = K21;
NET LEDS<5> LOC = L21;
NET IDC<0>  LOC = K16;
NET IDC<1>  LOC = L16;
NET IDC<2>  LOC = J19;
NET IDC<3>  LOC = K19;
NET IDC<4>  LOC = K12;
NET IDC<5>  LOC = J12;
NET IDC<6>  LOC = K22;
NET IDC<7>  LOC = J22;
NET IDC<8>  LOC = K13;
NET IDC<9>  LOC = K14;
NET IDC<10> LOC = L23;
NET IDC<11> LOC = K23;
NET IDC<12> LOC = L14;
NET IDC<13> LOC = L15;
NET SMA_N<0> LOC = A11;
NET SMA_P<0> LOC = A10;
NET SMA_N<1> LOC = A9;
NET SMA_P<1> LOC = A8;
NET SMA_N<2> LOC = B10;
NET SMA_P<2> LOC = B11;
NET SMA_N<3> LOC = B7;
NET SMA_P<3> LOC = B8;
NET SMA_P<4> LOC = J7;
NET SMA_N<4> LOC = J6;
NET SMA_N<5> LOC = D7;
NET SMA_P<5> LOC = E7;
NET SMA_P<6> LOC = G7;
NET SMA_N<6> LOC = H7;
NET SMA_P<7> LOC = D9;
NET SMA_N<7> LOC = C9;
NET SMA_P<8> LOC = G8;
NET SMA_N<8> LOC = H8;
NET SMA_P<9> LOC = E8;
NET SMA_N<9> LOC = F8;
NET SMA_P<10> LOC = C10;
NET SMA_N<10> LOC = D10;
NET SMA_P<11> LOC = E9;
NET SMA_N<11> LOC = F9;
NET SMA_P<12> LOC = F10;
NET SMA_N<12> LOC = G10;
NET SMA_P<13> LOC = K9;
NET SMA_N<13> LOC = K8;
NET SMA_P<14> LOC = G11;
NET SMA_N<14> LOC = F11;
NET SMA_P<15> LOC = J10;
NET SMA_N<15> LOC = H10;
NET SMA_P<16> LOC = D11;
NET SMA_N<16> LOC = E11;
#Created by Constraints Editor (xc5vlx20t-ff323-2) - 2016/04/01
NET "CLK_0" TNM_NET = CLK_0;
TIMESPEC TS_CLK_0 = PERIOD "CLK_0" 20 ns HIGH 50%;
