NET CLK_0 LOC = H12
NET CLK_1 LOC = H22


NET LEDS<0> LOC = PA15
NET LEDS<1> LOC = PA2
NET LEDS<2> LOC = PA13
NET LEDS<3> LOC = PA8
NET LEDS<4> LOC = PA11
NET LEDS<5> LOC = PA12

NET SMA_N<0>	= AA11
NET SMA_P<0>	= AA10
NET SMA_N<1>	= AA9
NET SMA_P<1>	= AA8
NET SMA_N<2>	= AB10
NET SMA_P<2>	= AB11
NET SMA_N<3>	= AB7
NET SMA_P<3>	= AB8
NET SMA_P<4>	= AJ7
NET SMA_N<4>	= AJ6
NET SMA_N<5>	= AD7
NET SMA_P<5>	= AE7
NET SMA_P<6>	= AG7
NET SMA_N<6>	= AH7
NET SMA_P<7>	= AD9
NET SMA_N<7>	= AC9
NET SMA_P<8>	= AG8
NET SMA_N<8>	= AH8
NET SMA_P<9>	= AE8
NET SMA_N<9>	= AF8
NET SMA_P<10>	= AC10
NET SMA_N<10>	= AD10
NET SMA_P<11>	= AE9
NET SMA_N<11>	= AF9
NET SMA_P<12>	= AF10
NET SMA_N<12>	= AG10
NET SMA_P<13>	= AK9
NET SMA_N<13>	= AK8
NET SMA_P<14>	= AG11
NET SMA_N<14>	= AF11
NET SMA_P<15>	= AJ10
NET SMA_N<15>	= AH10
NET SMA_P<16>	= AD11
NET SMA_N<16>	= AE11

